todo-android/.idea/gradle.xml
todo-android/.idea/jarRepositories.xml
todo-android/.idea/.name
todo-android/.idea/misc.xml
todo-android/.idea/runConfigurations.xml
todo-android/.idea/codeStyles/Project.xml
todo-android/.idea/vcs.xml
